@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');


body {
  background: #ffd166;
  color: #444;
  margin: 0;
}
body * {
  font-family: 'Merriweather', serif;;
}

/* header */
header {
  text-align: center;
  background: #e7e7e7;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
header img {
  max-width: 60px;
  
}
header h1 {
  margin: 0;
  font-size: 2em;
  padding-top: 25px;
  margin-left: 15px;
  color: #777;
  
}